.completedListfalse {
  display: none;
}
.completedListtrue {
  display: flex;
}
.completedList {
  width: 80%;
  text-align: center;
}
img {
  margin-top:10%;
  margin-left: 50%;
  margin-bottom:0;
  border-radius: 25px;
  width: 70%;
  display: flex;
  align-self: center;
}
.Iwanttobeabutton {
  border-radius: 10px;
  padding: 1%;
  background-color: rgb(61, 42, 79);
  color: antiquewhite;
  border-left: 2px solid gray;
  border-top: 2px solid gray;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  text-decoration: none;
}
.prettier {
  width: 50%;
  text-align: center;
}
.heading-top {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background-color: rgb(42, 53, 53);
  color: antiquewhite;
  padding: 1%;
  margin-left: 40%;

  border-radius: 20px;
  border: solid 2px black;
}
